{{- $user := promptStringOnce . "user" "User name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $ghuser := promptStringOnce . "ghuser" "GitHub username" -}}

[data]
    gitUser = {{ $user | quote }}
    gitEmail = {{ $email | quote }}
    githubUsername = {{ $ghuser | quote}}

[git]
    autoCommit = true
    autoPush = true

[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]
