{{- $user := promptStringOnce . "user" "User name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $syncAI := promptBoolOnce . "syncAIAssistants" "Setup AI coding assistants ( Skills & Copilot agents)" -}}

[data]
    gitUser = {{ $user | quote }}
    gitEmail = {{ $email | quote }}
    syncAIAssistants = {{ $syncAI }}

[git]
    autoAdd = true
    autoCommit = true
    autoPush = true

[merge]
{{- if eq .chezmoi.os "windows" }}
    command = "vim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
    command = "vimdiff"
    args = [
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
{{- end }}
    
