[user]
	name = {{ .gitUser | quote }}
	email = {{ .gitEmail | quote }}

{{- if eq .chezmoi.os "darwin" }}
[core]
	excludesfile = /Users/giorgiocaizzi/.gitignore_global
[commit]
	template = /Users/giorgiocaizzi/.stCommitMsg
{{- end }}

[init]
	defaultBranch = main

{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper = stores
{{- end }}
{{- if eq .chezmoi.os "windows" }}
[credential]
	helper = wincred
{{- end }}

[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
