[user]
	name = {{ .gitUser | quote }}
	email = {{ .gitEmail | quote }}

{{- if eq .chezmoi.os "darwin" }}
[core]
	excludesfile = /Users/giorgiocaizzi/.gitignore_global
[commit]
	template = /Users/giorgiocaizzi/.stCommitMsg
{{- end }}

[init]
	defaultBranch = main

{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{- end }}
{{- if eq .chezmoi.os "windows" }}
[credential]
	helper = wincred
{{- end }}

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
