{{- if eq .chezmoi.os "windows"}}
# bash_profile windows
if [ -f ~/.bashrc ]; then
    . ~/.bashrc
fi
{{- end}}

{{- if eq .chezmoi.os "darwin" }}
{{- end}}

{{- if eq .chezmoi.os "darwin"}}
# bash_profile macOS
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi
{{- end}}

{{- if eq .chezmoi.os "linux"}}
# bash_profile Linux
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi
{{- end}}
