[user]
	name = {{ .gitUser }}
	email = {{ .gitEmail }}

[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global

[commit]
	template = {{ .chezmoi.homeDir }}/.stCommitMsg

[init]
	defaultBranch = main

[submodule]
	recurse = true

[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
	helper = wincred
{{- else if eq .chezmoi.os "linux" }}
	helper = cache --timeout=3600
{{- end }}

[diff]
	tool = vimdiff

[difftool "vimdiff"]
{{- if eq .chezmoi.os "windows" }}
	cmd = vim -d "$LOCAL" "$REMOTE"
{{- else }}
	cmd = vimdiff "$LOCAL" "$REMOTE"
{{- end }}

[merge]
	tool = vimdiff
	squash = true

[mergetool "vimdiff"]
{{- if eq .chezmoi.os "windows" }}
	cmd = vim -d "$LOCAL" "$REMOTE" "$MERGED"
{{- else }}
	cmd = vimdiff "$LOCAL" "$REMOTE" "$MERGED"
{{- end }}
	trustExitCode = true
